absl-py==0.10
astor==0.8.0
cycler==0.10.0
gast==0.4.0
google-pasta==0.2
grpcio
h5py==3.1.0
Keras==2.3.0
Keras-Applications
Keras-Preprocessing==1.1.2
kiwisolver==1.1.0
Markdown==3.1.1
matplotlib
mpl-finance==0.10.0
numpy
Pillow
protobuf==3.9.2
pyparsing==2.4.2
python-dateutil==2.8.0
PyYAML==5.1.2
scipy
six==1.15.0
tensorboard
tensorflow-estimator
typing-extensions==3.7.4
termcolor==1.1.0
Werkzeug==0.16.0
wrapt==1.12.1
